/*================Css Table ===============

1.  Bg Images
2. Buttons & borders
3. Navbar Css
4. Socail Icons 
5. Grid Portfolio 
6. Contact Css
7. Buttons
8. Blog
9. Time Line 
===========================*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
@font-face {
    font-family: 'SG_Alternative_HighAlt';
    src: url('../fonts/SG_Alternative_HighAlt.html');
    src: url('../fonts/SG_Alternative_HighAlt.html') format('embedded-opentype'),
         url('../fonts/SG_Alternative_HighAlt-2.html') format('woff2'),
         url('../fonts/SG_Alternative_HighAlt-3.html') format('woff'),
         url('../fonts/SG_Alternative_HighAlt-4.html') format('truetype'),
         url('../fonts/SG_Alternative_HighAlt-5.html#SG_Alternative_HighAlt') format('svg');
}

body
{
    color: #fff;
	font-family: 'Poppins', sans-serif;
   	font-size: 13px;
	line-height:27px;
}

/********** Common Css *******/
h6 a, a.readmore, .call a
{
	color:#fff;
}
h6 a:hover, a.readmore:hover, .call a:hover
{
	color:#e62739;
	text-decoration:none;
}

.border-top
{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .2) !important;
}

.border1
{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 15px 0;
}

.border
{
	border: 1px solid rgba(255, 255, 255, .2) !important;
}

hr
{
	border: 1px solid rgba(255, 255, 255, .2) !important;
}
.bg1
{
	background: rgba(221, 221, 221, .5)
}
span.hl {
  color: #ffee58;
  border-bottom: 1px dotted #ffee58;
}

.sub-header {
  text-align: center;
  margin-bottom: 20px;
}

.sub-header>h5 {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #333;
  color: #333;
  text-align: center;
  margin: 0 auto;
}


.nav {
  position: fixed;
  width: 100%;
  background: none;
}

@media (max-width: 650px) {
  .nav {
    display: none;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.nav-link::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 0;
  background: #fff;
  transition: width .2s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

@media (max-width: 650px) {
  .section {
    padding-top: 30px;
  }
}

/*************** Logo *******************/
.logo {
    width: 150px;
    height: 150px;
    /* border: 5px solid transparent;
    outline: 5px solid #dddddd; */
}

/*************** Bg Images **************/
.section-padding
{
	padding:50px 0px;
}
.bg-none
{
	background:none;
}
.section-0 
{
   background:url('../images/bg.png');
   height:100vh !important;
   background-size: cover !important;
}
.section-1
{
	background:url('../images/landing-page.png') no-repeat center center fixed;
	height:100vh !important;
	background-size: cover !important;
}
.section-2 
{
   background:url('../images/bg2.jpg');
   height:100vh !important;
   background-size: cover !important;
}
.section-3
{
   background:url('../images/bg3.jpg');
   height:100vh !important;
   background-size: cover !important;
}
.section-4 
{
   background: url('../images/bg4.jpg');
   height:100vh !important;
   background-size: cover !important;
}
.section-5 
{
    background:url('../images/bg5.jpg');
	height:100vh !important;
	background-size: cover !important;
}

.section-6 {
    background:url('../images/bg6.jpg');
	height:100vh !important;
	background-size: cover !important;
}

.section-7 {
    background:url('../images/banner_bg.jpg');
	height:100vh !important;
	background-size: cover !important;
}


.slide {
  padding: 70px 20px 40px 20px;
}

@media (max-width: 650px) {
  .slide {
    padding-top: 30px;
  }
}

.step {
  display: inline-block;
  background: #333;
  border-radius: 2px;
  padding: 10px 20px;
}

.dot {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  text-align: center;
  padding: 0;
  margin: auto;
}

.dot>li {
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  box-sizing: border-box;
  list-style: none;
  cursor: pointer;
}

.dot>li.active,
.dot>li:hover {
  background-color: #fff;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.prev-slide {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  left: 100px;
}

.next-slide {
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  right: 100px;
}

.prev-slide:hover {
  transform: translateY(-50%) rotate(-45deg) scale(1.1);
}

.next-slide:hover {
  transform: translateY(-50%) rotate(45deg) scale(1.1);
}



/*********** Buttons & borders************/
hr.first
{
	margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
}
/********* navbar *********/
.top-header
{
	position:absolute;
	left:0;
	right:0px;
	padding:20px 0px;
}
.navbar-brand {
    z-index: 99999999;
    position: relative;
/*	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
    letter-spacing: 2px;
    font-style: italic;
    padding-top: 20px;*/
}
.menu-icon {
    background: transparent;
    width: 30px;
    height: 24px;
    margin: 15px 0 0 1.75rem;
    position: relative;
    cursor: pointer;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
    float: right;
    z-index: 16;
}

.navbar.navbar-empty .menu-icon span, .navbar.navbar-empty .menu-icon span:before, .navbar.navbar-empty .menu-icon span:after {
    background: #fff;
}

.overlay-menu {
   background:url('../images/bg.png');
    color: #515A5F;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    z-index: -1;
	background-position:center center;
	background-size: cover;
}

.overlay-menu.open {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  z-index: 15;
}
.overlay-menu .logo-full{
    display: inline-block;
    width: 120px;
}
.overlay-menu .logo-full > img{
    width: 100%;
}

  .overlay-menu .centered {
    width: 100%;
    max-width: 100%;
	padding:100px 0px;
}
.overlay-menu ul.full-nav li{
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    -webkit-transform:translate3d(0px, -10px, 0px);
    -o-transform:translate3d(0px, -10px, 0px);
    -moz-transform:translate3d(0px, -10px, 0px);
    transform:translate3d(0px, -10px, 0px);
    opacity: 0;
}
.overlay-menu.open ul.full-nav li{
    opacity: 1;
    -webkit-transform:translate3d(0px, 0px, 0px);
    -o-transform:translate3d(0px, 0px, 0px);
    -moz-transform:translate3d(0px, 0px, 0px);
    transform:translate3d(0px, 0px, 0px);
}
.overlay-menu.open ul.full-nav li:first-child{
    -moz-transition-delay:.1s;
	-o-transition-delay:.1s;
	-webkit-transition-delay:.1s;
    transition-delay:.1s;
}
.overlay-menu.open ul.full-nav li:nth-child(2){
    -moz-transition-delay:.2s;
	-o-transition-delay:.2s;
	-webkit-transition-delay:.2s;
    transition-delay:.2s;
}
.overlay-menu.open ul.full-nav li:nth-child(3){
    -moz-transition-delay:.3s;
	-o-transition-delay:.3s;
	-webkit-transition-delay:.3s;
    transition-delay:.3s;
}
.overlay-menu.open ul.full-nav li:nth-child(4){
    -moz-transition-delay:.4s;
	-o-transition-delay:.4s;
	-webkit-transition-delay:.4s;
    transition-delay:.4s;
}
.overlay-menu.open ul.full-nav li:nth-child(5){
    -moz-transition-delay:.5s;
	-o-transition-delay:.5s;
	-webkit-transition-delay:.5s;
    transition-delay:.5s;
}
.overlay-menu.open ul.full-nav li:nth-child(6){
    -moz-transition-delay:.6s;
	-o-transition-delay:.6s;
	-webkit-transition-delay:.6s;
    transition-delay:.6s;
}
.overlay-menu.open ul.full-nav li:nth-child(7){
    -moz-transition-delay:.7s;
	-o-transition-delay:.7s;
	-webkit-transition-delay:.7s;
    transition-delay:.7s;
}
.overlay-menu.open ul.full-nav li:nth-child(8){
    -moz-transition-delay:.8s;
	-o-transition-delay:.8s;
	-webkit-transition-delay:.8s;
    transition-delay:.8s;
}
.overlay-menu.open ul.full-nav li:nth-child(9){
    -moz-transition-delay:.9s;
	-o-transition-delay:.9s;
	-webkit-transition-delay:.9s;
  transition-delay:.9s;
}

.overlay-menu .columns {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.overlay-menu ul.full-nav li {
	display: inline-block;
	width: 50%;
	position: relative;
	padding: 1rem 2rem;
	text-align: left;
    margin-bottom: 5px;
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid white;
}
.overlay-menu ul.full-nav li > span {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	vertical-align: middle;
	margin-right: 10px;
    display: inline;
}
.overlay-menu ul.full-nav  li a{
    position: relative;
    overflow: hidden;
    color: #FFDE00;
    overflow: hidden;
    font-weight: 900;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
}

/********* Socail Icons *************/
.icon-circle .fa{
    font-size           : 25px;
    color               : #363636;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              : 0px solid #e84700;
    line-height         : 35px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
	text-align:center;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 0px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 2px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 3px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 3px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 3px #ffffff;
    box-shadow              : inset 0px 0px 0px 2px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 18px;
}

@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 15px;
    color               : #fff;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              : 2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}   
}
.ifacebook .fa
{
    color:#fff;
    border :1px solid #3B5998;
	 background-color        : #3B5998;  
}

.ifacebook .fa:hover{
    
    background-color        : #3B5998;    
    color                   : #fff;
    border                  : 1px solid #3B5998;

}

.itwittter .fa{
    color               : #fff;
    border              :1px solid #33ccff;
	 background-color        : #33ccff; 
}

.itwittter .fa:hover{
    
    background-color        : #33ccff;    
    color                   : #fff;
    border                  : 1px solid #33ccff;

}

.igoogle .fa{
    color               : #fff;
    border              :1px solid #BD3518;
	background-color        : #BD3518;  
}
.igoogle.text-red .fa{
    color               : red;
    border              :1px solid #BD3518;
}

.igoogle .fa:hover
{
    background-color        : #BD3518;    
    color                   : #fff;
    border                  : 1px solid #BD3518;
}
.iLinkedin .fa{
    color               : #fff;
    border              :1px solid #007bb7;
	background-color        :#007bb7;  
}
.iLinkedin .fa:hover{
    
    background-color        :#007bb7;    
    color                   : #fff;
    border                  : 1px solid #007bb7;

}

/************ Grid Portfolio *************/
#grid .mix
{
    display: none;
    opacity: 0;
}

.portfolio-filters{
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}
.portfolio-filters li{
    display:inline-block;
    border:1px solid #ddd;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 10px ;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 400;
    color:#999;
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}
.portfolio-filters li:hover{
    background-color: #2ecc71;
    color:#fff;
    border-color:#2ecc71;
}
.portfolio-filters li.active{
    background-color: #2ecc71;
    color:#fff;
    border-color:#2ecc71;
}
.item-img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(30, 30, 30, 0.9);
	opacity:0
}
.item-img-overlay:hover
{
	opacity: 1;
}
.item-img-wrap img {
  
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
.overlay-content
{
	bottom: 100px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: auto;
}
.item-img-overlay span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
/*    background: url(../img/plus.png) no-repeat center center rgba(0, 0, 0, 0.6);
*/    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
.item-img-wrap {
    position: relative;
    overflow: hidden;
}
/****************************** Contact ***********/
input.form-control {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
}

textarea.form-control {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
} 


/******************** Buttons *******************/

.btn-5
{
     background-image: linear-gradient(to right, #00c9fd 0%, #00c9fd 50%, #81ee8e 100%);
    border: 0;
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
	text-transform:uppercase;
}

.g > div { background: #fff; }


/***************** Blog *******************/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/***********/
#info {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;				
	background:#fcf8e3;
	border:1px solid  #fbeed5;
	width:95%;
	max-width:900px;
	margin:0 auto 40px auto;
	font-family:arial;
	font-size:12px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

#info .info-wrapper
{
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
#info a 
{
    color:#c09853;
    text-decoration:none;
}
#info p 
{
    margin:5px 0 0 0;
}
.header-container 
{ 
    position: relative; 
    /* width: 960px;  */
    padding: 0px 40px;
    margin: 0 auto; 
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;	
}
#filters 
{
    margin:1%;
    padding:0;
    list-style:none;
}
#filters li 
{
    float:left;
}
	
#filters li span 
{
    display: block;
    padding:5px 20px;		
    text-decoration:none;
    color:#666;
    cursor: pointer;
}
#filters li span.active
{
    background: #e95a44;
    color:#fff;
}

#portfoliolist .portfolio
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width:23%;
    margin:1%;
    display:none;
    float:left;
    overflow:hidden;
}

.portfolio-wrapper 
{
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
}
.portfolio img 
{
    max-width:100%;
    position: relative;
    top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);		
}
.portfolio .label
{
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .label-bg 
{
    background: #e95a44;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.portfolio .label-text 
{
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}

.portfolio .text-category 
{
    display:block;
    font-size:9px;
}
.portfolio:hover .label
{
    bottom:0;
  }
.portfolio:hover img {
    top:-30px;
  }  


/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.header-container 
{
    /* width: 768px;  */
    padding: 0px 30px;
}
}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	.header-container { 
        /* width: 95%;  */
        padding: 0px 10px;
	}
	
	#portfoliolist .portfolio {
		width:48%;
		margin:1%;
	}		


	
}


/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.header-container
{
    /* width: 70%; */
    padding: 0px 5px;
}	
}

/* #Clearing */

/* Self Clearing Goodness */
.header-container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.cbp-l-filters-work .cbp-filter-item.cbp-filter-item-active
{
	 background-image: linear-gradient(to right, #dddddd 0%, #FFDE00 100%);
}
.cbp-l-filters-work .cbp-filter-item
{
	border:1px solid #fff;
	background-color: transparent;
    color: #fff;
}
.cbp-l-filters-work .cbp-filter-item:hover {
    color: #fff;
    background-image: linear-gradient(to right, #dddddd 0%, #FFDE00 100%);
    background: linear-gradient(to right, #dddddd 0%, #FFDE00 100%);
}
/************ Time Line ***********/
.resume_are_title
{
    background-image: linear-gradient(to right, #00c9fd 0%, #00c9fd 50%, #81ee8e 100%);
    padding: 10px 20px;
    color:#fff;
}
.resume_are_title span
{
    font-size: 28px;
    line-height: 50px;
    margin-right: 17px;
    width: 50px;
    text-align: center;
    background: #ffffff;
    color: #372db4;
    border-radius: 50%;
}
.resume_are_title span,
.resume_are_title p
{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
.resume_are_title p
{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.timeline
{
    padding-top: 47px;
    position: relative;
}
.timeline:before
{
    content: "";
    position: absolute;
    height: calc(100% - 52px);
    width: 1px;
    background: #d1d1d1;
    bottom: 0;
    left: 8px;
}
.timeline li+li
{
    margin-top: 20px;
}
.timeline li 
{
    padding-left: 46px;
    position: relative;
    list-style:none;
}
.timeline li:before
{
    content: "";
    left: 0;
    top: 4.5PX;
    border-radius: 50%;
    position: absolute;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 2px solid #362cb2;
}

.time_period
{
    padding-bottom: 0px;
}
.timeline_title
{
    padding-bottom: 5px;
}
.timeline_title h4
{
    font-size: 16px;
}
.clsider 
{
    padding: 0 34px;
}
.clsider img
{
    max-width: 100%;
}
.clients_area.section_padding 
{
    background: #f7f7f7;
}