@media only screen and (max-width: 991px)
{

.mb4
{
	margin-bottom:3rem;
}
}

@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 15px;
    color               : #fff;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              : 2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}   
}
@media (max-width: 767px) {

.col-2-space .project-post, .col-2-no-space .project-post, .col-3-space .project-post, .col-3-no-space .project-post, .col-4-space .project-post, .col-4-no-space .project-post, .col-5-no-space .project-post 
{
    width: 50%;
}
ul.timeline:before 
{
	left: 63px;
}

ul.timeline > li > .timeline-panel 
{
	width: calc(100% - 90px);
	width: -moz-calc(100% - 90px);
	width: -webkit-calc(100% - 90px);
}

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
.timeline > li.timeline-inverted {
    padding-left: 0;
    width: 100%;
    max-width: 88%;
}

ul.timeline > li > .timeline-panel
{
	float: right;
    left: 50px;
    margin-bottom: 41px;
}

ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
		.align-items-center
{
	text-align:center;
}
.bg1.p-5 {
    padding: 1rem!important;
}
.section-3 ul.timeline:before {
    left: 8px;
}
.overlay-menu ul.full-nav li {
    display: inline-block;
    width: 49%;
    position: relative;
    padding: 1.5rem 1rem;
    text-align: left;
    background: linear-gradient(to right, #9068be 0%, #e62739 51%, #6ed3cf 100%);
    margin-bottom: 5px;
}
}
@media (max-width: 614px) {
.col-sm-4.left1
{
	float: left;
	width:100%;
	max-width:60%;
}
.col-sm-8.left2
{
	float: left;
	width:100%;
	max-width:40%;
}
}
@media (max-width: 568px) {
  .col-2-space .project-post, .col-2-no-space .project-post, .col-3-space .project-post, .col-3-no-space .project-post, .col-4-space .project-post, .col-4-no-space .project-post, .col-5-no-space .project-post {
    width: 100%;
  }

}

@media only screen and (max-width: 479px){
.testimonial
{
	padding: 20px 0 20px 60px;
    margin: 10px 20px 50px 50px;
}
.testimonial .title
{
	font-size: 20px; 
}
}
@media (max-width: 414px) {
.display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 72px;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 48%;
    margin-left: -25px;
    /* background-color: #999999; */
    background: #9068be;
    background: -webkit-linear-gradient(left, #9068be , #e62739);
    background: -o-linear-gradient(right, #9068be, #e62739);
    background: -moz-linear-gradient(right, #9068be, #e62739);
    background: linear-gradient(to right, #9068be , #e62739);
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    font-weight: 600;
}
ul.timeline:before {
    left: 48px;
}

.timeline > li:not(.timeline-inverted) {
    padding-right: 40px;
}
ul.timeline > li > .timeline-panel {
    float: right;
    left: 14px;
    margin-bottom: 41px;
}

.overlay-menu ul.full-nav li {
    display: inline-block;
    width: 90%;
    position: relative;
    padding: 1.5rem 1rem;
    text-align: left;
    background: linear-gradient(to right, #9068be 0%, #e62739 51%, #6ed3cf 100%);
    margin-bottom: 5px;
}
}