
@font-face {
    font-family: "ralewayRegular";
    src: url("../fonts/raleway/Raleway-Regular.ttf");
    src: url("../fonts/raleway/Raleway-Regular.ttf") format("ttf"),
}

@font-face {
    font-family: "ralewayItalic";
    src: url("../fonts/raleway/Raleway-Italic.ttf");
    src: url("../fonts/raleway/Raleway-Italic.ttf") format("ttf"),
}

@font-face {
    font-family: "ralewayThin";
    src: url("../fonts/raleway/Raleway-Thin.ttf");
    src: url("../fonts/raleway/Raleway-Thin.ttf") format("ttf"),
}

/* customized css */

/* menu part */
.menu-icon {
	background: transparent;
	width: 30px;
	height: 24px;
	margin: 15px 0 0 1.75rem;
	position: relative;
	cursor: pointer;
	
	float: right;
    z-index: 16;
}

.menu-icon .hamburg,
.menu-icon .hamburg:before,
.menu-icon .hamburg:after {
  cursor: pointer;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 4px;
  width: 40px;
  background: #FFDE00 !important;
  position: absolute;
  left: 15%;
  top: 50%;
  display: block;
  content: '';
}
.menu-icon .hamburg:before {
  left: 0;
  top: -12px;
}
.menu-icon .hamburg:after {
  left: 0;
  top: 12px;
}
.open .menu-icon {
    position: fixed;
	top: 1.7rem;
	right: 4.5rem;
}
.open .menu-icon .hamburg {
    height: 0px;
    transition: height 1s;
}
.open .menu-icon .hamburg:before, 
.open .menu-icon .hamburg:after {
    top: 0px;
    height: 0px;;
    transition: top 1s, height 1s;
}
.open .menu-icon .hamburg-close {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background: #FFDE00 !important;
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 5px;
}
.open .menu-icon .hamburg-close:before {
    height: 40px;
    width: 4px;
    border-radius: 4px;
    background: #FFDE00 !important;
    position: absolute;
    top: -17px;
    left: 18px;
    visibility: hidden;
    content: '';
}
.open .menu-icon .hamburg-close:after {
    opacity: 0;
}

.open .menu-icon .hamburg-close {
    transform: rotate(45deg);
    animation: 1s menuFadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    transition: transform 0.3s 1s;
}
.open .menu-icon .hamburg-close:before {
    visibility: visible;
    animation: 1s menuFadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes menuFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
}

/* standard height */
.h-s {
    height: calc(100vh - 100px);
}
.hide-icon {
    opacity: 0;
}
.bottom-wrapper {
    position: absolute;
    width: 100%;
    bottom: 100px;
}
.down-arrow-wrapper {
    position: sticky;
    width: 58px;
    bottom: 10px;
    left: calc(50% - 29px);
    margin-left: -29px;
}
.landing-comment {
    font-family: ralewayRegular;
    font-size: 24px;
    text-align: center;
}

/* contact part */
.contact-text {
    font-size: 60px;
    color: #FFDE00;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    display: flex;
}
.contact-main {
    /* margin-top: 1.5rem; */
    align-items: center;
    justify-content: center;
    display: flex;
}
.contact-img-part {
    margin-bottom: auto;
    display: flex;
}
.contact-main .left-part {
    font-size: 90px;
    font-weight: 900;
    padding: 0px 20px;
    cursor: pointer;
}
.contact-main .middle-part {
    font-size: 20px;
    font-weight: 500;
    padding: 0px 20px;
}
.contact-main .right-part {
    font-size: 90px;
    font-weight: 900;
    padding: 0px 20px;
    cursor: pointer;
}
.contact-bottom-wrapper {
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.contact-img-hover .contact-img {
    position: absolute;
    transform: translate(-50%, -50%);
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    width: 300px;
    height: 300px;
}
.contact-img-hover:hover .contact-img {
    visibility: visible;
}

.wrapper img {
    width: 100%;
    height: 100%;
}
.arrow-icon {
    height: 70px;
    position: relative;
}
.arrow-icon .updown {
    width: 100%;
    height: 100%;
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}
@keyframes MoveUpDown {
    0%, 100% {
        bottom: -10px;
    }
    50% {
        bottom: 15px;
    }
}
.arrow-icon .leftright {
    width: 100%;
    height: 100%;
    animation: MoveLeftRight 1s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}
@keyframes MoveLeftRight {
    0%, 100% {
        left: 0;
    }
    50% {
        left: 25px;
    }
}

.goto {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: opacity .8s;
}
.goto:hover {
    opacity: 1;
    transition: opacity .8s;
}

.brand .brand-img {
    position: absolute;
    /* transform: translate(); */
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    width: 200px;
    height: 200px;
}
.brand:hover .brand-img {
    visibility: visible;
}

.circle-plus-icon {
    width: 40px !important;
    height: 40px !important;
}
.work-comment {
    font-family: ralewayRegular;
    font-size: 40px;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
}


/* move animation */
.current .move-down {
    animation: MoveDown 1s ease-in-out;
    left: 0;
    bottom: 0;
}
@keyframes MoveDown {
    0% { bottom: 100%; }
    100% { bottom: 0}
}
.move-down-start-pos {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 100%;
}
.current .move-up {
    animation: MoveUp 1s ease-in-out;
    left: 0;
    bottom: 0;
}
@keyframes MoveUp {
    0% { bottom: -100%; }
    100% { bottom: 0}
}
.move-up-start-pos {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
}
.current .move-left {
    animation: MoveLeft 1s ease-in-out;
    left: 0;
    bottom: 0;
}
@keyframes MoveLeft {
    0% { left: -100%; }
    100% { left: 0}
}
.move-left-start-pos {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
}
.current .move-right {
    animation: MoveRight 1s ease-in-out;
    left: 0;
    bottom: 0;
}
@keyframes MoveRight {
    0% { left: 100%; }
    100% { left: 0}
}
.move-right-start-pos {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
}

/* method part */
.method {
    text-align: center;
    height: 100vh;
    position: relative; 
}
.method-header {
    font-size: 40px;
    font-weight: 900;
    padding-top: 200px;
    -webkit-animation: scaleExpand 2s ease-in-out;
    animation: scaleExpand 2s ease-in-out; 
}
@keyframes scaleExpand {
    from {
        transform: scale(0.5);
        opacity: 0.2
    }
    to {
        transform: scale(1.0);
        opacity: 1
    }
}
.method-body {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    -webkit-animation: opacityExpand 2s ease-in-out;
    animation: opacityExpand 2s ease-in-out; 
} 
@keyframes opacityExpand {
    from {
        opacity: 0.1
    }
    to {
        opacity: 1
    }
}
.method-footer {
    padding: 20px 10px;
    width: 100%;
    /* position: absolute; */
    bottom: 90px;
}
.img-icon {
    width: 120px;
    height: 120px;
    position: relative;
}
.method-footer-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: leftToRight 2s ease-in-out;
    animation: leftToRight 2s ease-in-out; 
}
@keyframes leftToRight {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
.method-footer-display {
    display: flex;
}
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    /* animation: loading-1 1s linear forwards; */
    /* animation-iteration-count: 2; */
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
    background: rgba(221, 221, 221, 0.5);
    -webkit-animation: scaleExpand 2s ease-in-out;
    animation: scaleExpand 2s ease-in-out; 
}
.progress.loading .progress-bar{
    border-color: #FFDE00;
}
/* .progress.loading .progress-left .progress-bar{
    animation: loading-1 1s linear forwards 1s;
} */
.ani-delay-0s .progress-right .progress-bar {
    animation: loading-1 1s linear forwards;
}
.ani-delay-0s .progress-left .progress-bar {
    animation: loading-1 1s linear forwards 1s;
}
.ani-delay-2s .progress-right .progress-bar {
    animation: loading-1 1s linear forwards 2s;
}
.ani-delay-2s .progress-left .progress-bar {
    animation: loading-1 1s linear forwards 3s;
}
.ani-delay-4s .progress-right .progress-bar {
    animation: loading-1 1s linear forwards 4s;
}
.ani-delay-4s .progress-left .progress-bar {
    animation: loading-1 1s linear forwards 5s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
.loading-width {
    width: 25%;
}
.loading-connector {
    width: 25%;
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
    .loading-width { width: 50% }
    .loading-connector { display: none; }
}
@media only screen and (max-width: 576px){
    .progress{ margin-bottom: 20px; }
    .loading-width { width: 100% }
    .loading-connector { display: none; }
    .method-footer-display { display: none; }
}

/* method-strategy */
.method-main {
    padding-top: 160px;
    padding-bottom: 100px;
}
.method-main .method-title {
    position: sticky;
    vertical-align: middle;
    z-index: 99;
    top: calc(50% + 50px);
}

.method-main .text-part {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
}
.method-main .text-part .txt-title {
    font-size: 32px;
}
.method-main .text-part .txt-body {
    font-size: 16px;
}
.method-main .img-part {
    /* width: 100%; */
    height: 70vh;
    position: relative;
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}
	100% {
		transform: translateX(0%);
	}
}

.scale-out {
    /* transform: scale(0.0);
    transition: transform 1s ease-in-out; */

}
.slide-right {
    visibility: hidden;
}
.current .animated .slide-right {
    /* transform: scale(1.0);
    transition: transform 1s ease-in-out; */
    visibility: visible;
    animation: slideRight 1s ease-in-out;
}
@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}
	100% {
		transform: translateX(0%);
	}
}
.slide-left {
    visibility: hidden;
}
.current .animated .slide-left {
    visibility: visible;
    animation: slideLeft 1s ease-in-out;
}
@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.fade-in {
    visibility: hidden;
}
.current .animated .fade-in {
    visibility: visible;
    animation: fadeIn 1s ease-in-out;
}
@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}
.expand-up {
    visibility: hidden;
}
.current .animated .expand-up {
    visibility: visible;
    animation: expandUp 1s ease-in-out;
}
/* .flipY {
    transform: rotateY(0.0);
    transition: transform 1s ease-in-out;
}
.current .animated .flipY {
    transform: rotateY(360deg);
    transition: transform 1s ease-in-out;
}
.flipX {
    transform: rotateX(0.0);
    transition: transform 1s ease-in-out;
}
.current .animated .flipX {
    transform: rotateX(360deg);
    transition: transform 1s ease-in-out;
} */

.right-left-open {
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    /* transition: width 1s ease-in-out; */
    visibility: hidden;
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
.current .animated .right-left-open {
    visibility: visible;
    animation: fadeInRight 1s ease-in-out;
    /* width: 100%;
    transition: width 1s ease-in-out; */
}
.left-right-open {
    /* width: 0; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    /* transition: width 1s ease-in-out; */
    visibility: hidden;
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.current .animated .left-right-open {
    visibility: visible;
    animation: fadeInLeft 1s ease-in-out;
    /* width: 100%;
    transition: width 1s ease-in-out; */
}
.bottom-top-open {
    width: 100%;
    /* height: 0; */
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    /* transition: height 1s ease-in-out; */
    visibility: hidden;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.current .animated .bottom-top-open {
    visibility: visible;
    animation: fadeInUp 1s ease-in-out;
    /* height: 100%;
    transition: height 1s ease-in-out; */
}
.top-bottom-open {
    width: 100%;
    /* height: 0; */
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    /* transition: height 1s ease-in-out; */
    visibility: hidden;
}
@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.current .animated .top-bottom-open {
    visibility: visible;
    animation: fadeInDown 1s ease-in-out;
    /* height: 100%;
    transition: height 1s ease-in-out; */
}

a.list {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
a.list:hover {
    text-decoration: underline;
}

/* us */
.team-lists {
    height: calc(100vh - 200px);
}
.team-lists .team-member {
    height: 100%;
    padding: 0px !important;
}
.team-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: color-burn;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
}
.team-hover:hover {
    opacity: 0;
    transition: opacity .5s;
}
.team-lists .details {
    position: fixed;
    /* transform: translate(); */
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    
}
.team-lists .details.open {
    visibility: visible;
    background: rgba(0, 0, 0, 0.8);
    transition: background 0.5s ease-in-out;
}

.team-lists .detail-desc {
    position: relative;
}
.team-lists .detail-desc .name-role {
    position: absolute;
    bottom: 20%;
    left: 10%;
}
.team-lists .detail-desc .name {
    font-size: 60px;
    font-weight: 900;
}
.team-lists .detail-desc .role {
    font-size: 40px;
    font-weight: 500;
}
.team-lists .detail-img {
    /* padding-top: 100px; */
    justify-content: center;
    align-items: center;
    display: flex; 
}
.team-lists .detail-img img {
    width: 0;
    height: 0;
}
.team-lists .open .detail-img .width-expand {
    width: auto;
    height: 70%;
    transition: height 1s ease-in-out;
}

/* core values */

.core-value {
    display: none;
}
.core-value.active {
    display: block;
    animation: fadeInUp 1s ease-in-out;
}

.client-list {
    padding-top: 20px;
}
.client-list .client {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 2.0rem 0;
    cursor: pointer;
}
.client-list .client:hover {
    color: #FFDE00;
}
.client .brand-img {
    position: absolute;
    transform: translate(30%, -50%);
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    width: 200px;
    height: 200px;
}
.client:hover .brand-img {
    visibility: visible;
}
/***********************/



/* common class name */
.pointer {
    cursor: pointer;
}
.center-middle {
    justify-content: center;
    align-items: center;
    display: flex;
}
.overflow-hidden {
    overflow: hidden !important;
}
.border-b {
    border-bottom: 1px solid #fff;
}
.border-t {
    border-top: 1px solid #fff;
}
.border-y {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.preliminary {
    padding-top: 200px
}
.lh-25 {
    line-height: 2.5;
}
/***********************/



/* font-style */
.ff-main {
    font-family: ralewayRegular;
}
/***********************/




/* font size */
.fs90 {
    font-size: 90px;
}
.fs80 {
    font-size: 80px;
}
.fs70 {
    font-size: 70px;
}
.fs60 {
    font-size: 60px;
}
.fs40 {
    font-size: 40px;
}
.fs20 {
    font-size: 20px;
}
.fs16 {
    font-size: 16px;
}
/************************/



/* color-panel */
.light-yellow-col {
    color: #FFDE00;
}

.bg-pink-1 {
    background-color: rgb(237, 64, 61);
}
.bg-pink-2 {
    background-color: rgb(219, 60, 79);;
}
.bg-pink-3 {
    background-color: rgb(202, 55, 94);
}
.bg-pink-4 {
    background-color: rgb(193, 53, 101);
}
.bg-pink-4 {
    background-color: rgb(185, 51, 107);
}
/***********************/




/* height percent of screen */
.h-45vh {
    height: 45vh;
}
.h-50vh {
    height: 50vh;
}
.h-55vh {
    height: 55vh;
}
.h-70vh {
    height: 70vh;
}
.h-100vh {
    height: 100vh;
}
.full-size {
    width: 100%;
    height: 100%;
}
/***********************/